*{
    box-sizing: border-box;
}

body {
    padding: 10px;
    margin: 0;
    font-family:  "Helvetica", Arial, sans-serif;
    font-size: 10px;
    font-weight: 300;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 100px 1fr 1fr 100px;
}

.nav-bar {
    grid-row: 1/2;
    grid-column: 1/5;
    position: relative;
}
.lnks {
    color: black;
    font-size: 1em;
    font-weight: 350;
    text-decoration: none;
    padding: 5px;
    position: absolute;
    top: 5px;
}

.lnks:hover {
    text-decoration: underline;
}

#about-lnk {
    left: 20px;
}

#store-lnk {
    left: 60px;
}

#gmail-lnk {
    right: 80px;
}

#images-lnk {
    right: 10px;
}

.logo {
    grid-column: 2/4;
    justify-self: center;
    grid-row: 2/3;
}

#search-form{
    grid-row: 3/4;
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input[type=search] {
    padding: 5px 5px;
    margin: 5px 0px;
    font: 16px;
    width: 300px;
    height: 100%;
    border: 1px solid rgb(199, 204, 189);
    border-radius: 10px;
}
    

#searchbar:hover {
    box-shadow: 0 0 10px 3px rgb(199, 204, 189);
}



